<div class='list-group question_title'><% @questions.each do |question| %>
    <tr>
    <p class="list-group-item draggable-question draggable-text" name=<%= question.title %> draggable="true">
        <td><%= question.descriptivetitle %></td>
        <span class="close" style="display:none">&times;</span>

        <input class="form-control col-md-1 mb-1" hidden type="text" name="assessment_credit" placeholder="0" size=1>
        <label for="form-control" class="pts-txt" style="display: none">Pts</label>
    </p>
    </tr>
    <% end %>
</div>

<script>
$(".draggable-question").css('text-align','left').draggable({
    helper: "clone",
    connectToSortable: ".mcontainer",
    revert: "invalid"
});

</script>
