<div class="qcontainer">
<div class='question_title'><% @questions.each do |question| %>
    <tr>
    <p class="list-group-item draggable-question draggable-text" draggable="true">
        <td><%= question.title %></td>
        <span class="close" style="display:none">&times;</span>

        <input class="form-control col-md-2 mb-1" hidden type="text" name="assessment_credit" placeholder="0" size=4>
        <label for="form-control" class="pts-txt" style="display: none">Pts</label>

    </p>
    </tr>
<% end %></div>
</div>

<script>
$(".draggable-question").css('text-align','left').draggable({
    helper: "clone",
    connectToSortable: ".mcontainer",
    revert: "invalid"
});

const draggables = document.querySelectorAll('.draggable-question')
for (let i = 0; i < draggables.length; i ++) {
    const draggable = draggables[i];
    const pointbox = draggable.getElementsByClassName("form-control");
    pointbox[0].style.display = "inline";
    pointbox[0].style.float = "right";
    pointbox[0].style.marginTop = "-2%";
}
</script>