<div class="text-right" style="height: 6px;">
  <button class="btn btn-sm" type="button" id="add_zones">+ Zone</button>
</div>

<div class="sqcontainer box status selected">
    <hr>
    <div class="zone">
        <div class="form-row">
            <div class="col-md-auto mb-1">
                <input class="form-control" type="text" id="zone_title" size=1 style="min-width: 255px;" placeholder="Title" aria-label="Title">
            </div>
            <div class="col-md-auto mb-1">
                <input class="form-control" type="text" id="zone_comment" size=1 style="min-width: 270px;"  placeholder="Comment" aria-label="Comment">
            </div>
            <span class="close" id="delete_zone" style="color: red;">&times;</span>
        </div>
        <div class="mcontainer">
        </div>
        <hr>
    </div>
</div>
