<div class="text-right">
  <button class="btn" type="button" id="add_zones">+ Zone</button>
</div>

<div class="sqcontainer box status selected">
    <hr>
    <div class="zone">
        <div class="form-row">
            <div class="col-md-auto mb-3">
                <label class='question_title'>Title:</label>
            </div>
            <div class="col-md-3 mb-3">
                <input class="form-control" type="text" id="zone_title" size=1>
            </div>
            <div class="col-md-auto mb-3">
                <label class='question_title'>Comment:</label>
            </div>
            <div class="col-md-5 mb-3">
                <input class="form-control" type="text" id="zone_comment" size=1>
            </div>
            <div class="col-md-1 mb-3">
                <span class="close" id="delete_zone">&times;</span>
            </div>
        </div>
        <div class="mcontainer"></div>
        </div>
        <hr>
    </div>
</div>