<!DOCTYPE html>
<html>
  <head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js" type="text/javascript"></script>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
  <body>
    <nav>
      <div class="nav-wrapper">
        <div id="name" style="font-size:23px">Create New Assessment</div>
      </div>
    </nav>

    <div class="qcol rightcol">
      <p>Configurations</p>
      <form >
      	<div class='configs' style="overflow:scroll; height:600px;">
          <div class="form-group w-75">
            <label class='question_title'>Assessment name:</label>
            <input class="form-control" type="text" placeholder="Enter assessment name" size=36>
          </div>
          <div class="form-row">
            <div class="col-md-5 mb-3">
              <label class='question_title'>Type:</label>
              <select class="form-control">
                <option>Exam</option>
                <option>Homework</option>
              </select>
            </div>
            <div class="col-md-5 mb-3">
              <label class='question_title'>Credit:</label>
              <input class="form-control" type="text" placeholder="Enter integer" name="assessment_credit" size=4>
            </div>
          </div>
          <hr>
          <div class="access_forms">
            <div class="form-group w-50">
              <label class='question_title'>Allow access to:</label>
              <select class="form-control">
                <option>Student</option>
                <option>TA</option>
                <option>Instructor</option>
              </select>
            </div>
            <label class='question_title'>Start date:</label>
            <div class="form-row">
              <div class="col-md-5 mb-3">
                <input class="form-control" type="date" min="2021-01-01" max="2100-12-31">
              </div>
              <div class="col-md-5 mb-3">
                <input class="form-control" type="time" min="00:00" max="23:59">
              </div>
            </div>
            <label class='question_title'>End date:</label>
            <div class="form-row">
              <div class="col-md-5 mb-3">
                <input class="form-control" type="date" min="2021-03-02" max="2100-12-31">
              </div>
              <div class="col-md-5 mb-3">
                <input class="form-control" type="time" min="00:00" max="23:59">
              </div>
            </div>
            <hr>
          </div>
          <button class="btn btn-primary btn-lg" type="button" id="add_access">+</button>
          <button class="btn btn-primary btn-lg" type="button" id="delete_access">-</button>
          <script>
          $(document).ready(function(){
          	// Spawns new access forms
            $('#add_access').click(function(){
              // Create clone of <div class='input-form'>
              var newel = $('.access_forms:last').clone(true);
              // Add after last <div class='input-form'>
              $(newel).insertAfter(".access_forms:last");
            });
            // Deletes previous access forms
            $('#delete_access').click(function() {
            	var count = $('.access_forms').length;
              if (count > 1)  // change this to 1 if you want at least one to show
              	$( ".access_forms:last" ).remove();
            });
          });
          </script>
        </div><br>
      </form>
    </div>

    <div class="qcol middlecol">
      <p class="test">Selected Questions</p>
      <div class="mcontainer">
      </div>
    </div>

    <div class="qcol leftcol">
      <p>Questions</p>
      <div class="qcontainer">
        <div class='question_title'><% @questions.each do |question| %>
          <tr>
            <p class="list-group-item draggable-question draggable-text" draggable="true"><td><%= question.title %></td><span class="close">&times;</span></p>
          </tr>
        <% end %></div>
      </div>
    </div>
    <div class="footer">
      <button class="btn btn-primary" type="button">Save</button>
      <button class="btn btn-primary" type="button">Export</button>
    </div>

    <script>
    $(".draggable-question").draggable(
      {helper: "clone"}
    );

    $(".mcontainer").droppable({
      accept: ".draggable-question",
      drop: function(event,ui){
        var tag = document.createElement("p");
        tag.innerHTML = $(ui.helper).html();
        tag.classList.add("list-group-item");
        tag.classList.add("draggable-question");
        tag.classList.add("draggable-text");        
        var closetag = tag.getElementsByClassName("close");
        closetag[0].style.display = "block";
        var containers = document.querySelectorAll('.mcontainer');
        closetag[0].onclick = function() {
          containers[0].removeChild(tag);
        }
        $(this).append(tag);    
      }
    });

    const draggables = document.querySelectorAll('.draggable-question')
    for (let i = 0; i < draggables.length; i ++) {
      const draggable = draggables[i];
      const close = draggable.getElementsByClassName("close");
      close[0].style.display = "none";
    }
    </script>
  </body>
</html>
