<!DOCTYPE html>
<html>
  <head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  </head>
  <body>
    <nav>
      <div class="nav-wrapper">
        <div id="name" style="font-size:23px">Create New Assessment</div>
      </div>
    </nav>
    <div class="col rightcol">
      <p>Configurations</p>
      <form>
          <label class='question_title'>Assessment name:</label><br>
          <input type="text"><br><br>

          <label class='question_title'>Type:</label><br>
          <select>
            <option>Exam</option>
            <option>Quiz</option>
            <option>Homework</option>
            <option>Vitamin</option>
            <option>Worksheet</option>
          </select><br><br>

          <label class='question_title'>Credit:</label><br>
          <input type="text" value="100"><br><br>

          <label class='question_title'>Allow access to:</label><br>
          <select>
            <option>Student</option>
            <option>TA</option>
            <option>Instructor</option>
          </select><br>
          <label class='question_title'>Start date:</label><br>
          <input type="date" value="2021-02-23" min="2021-02-23" max="2021-12-31"><br>
          <label class='question_title'>End date:</label><br>
          <input type="date" value="2021-02-26" min="2021-02-23" max="2021-12-31"><br>
          <input type="button" value="+"><br><br>

          <input class='question_title' type="button" value="Submit"<br>
      </form>
    </div>
    <div class="col middlecol">
      <p class="test">Selected Questions</p>
      <div class="container">
      </div>
    </div>
    <div class="col leftcol">
      <p>Questions</p>
      <div class="container">
        <div class='question_title'><% @questions.each do |question| %>
          <tr>
            <p class="draggable draggable-text" draggable="true"><td><%= question.title %></td></p>
          </tr>
        <% end %></div>
      </div>
    </div>

    <script>
        const draggables = document.querySelectorAll('.draggable')
        const containers = document.querySelectorAll('.container')

        for (let i = 0; i < draggables.length; i ++) {
          const draggable = draggables[i];

          draggable.addEventListener('dragstart', function () {
            draggedItem = draggable;
            setTimeout(function () {
              draggable.style.display = 'none';
            }, 0)
          });

          draggable.addEventListener('dragend', function () {
            draggedItem = draggable;
            setTimeout(function () {
              draggable.style.display = 'block';
              draggedItem = null;
            }, 0)
          });

          for (let j = 0; j < containers.length; j ++) {
            const container = containers[j];

            container.addEventListener('dragover', function (e) {
              e.preventDefault();
            });
            container.addEventListener('dragenter', function (e) {
              e.preventDefault();
            });
            container.addEventListener('drop', function (e) {
              this.append(draggedItem);
            });
          }
        }
        // draggables.forEach(draggable => {
        //  draggable.addEventListener('dragstart', () => {
        //    draggable.classList.add('dragging')
        //  })

        //  draggable.addEventListener('dragend', () => {
        //    draggable.classList.add('dragging')
        //  })
        //})

        //containers.forEach(container => {
        //  container.addEventListener('dragover', e => {
        //    e.preventDefault()
        //    const draggable = document.querySelector('.dragging')
        //    container.appendChild(draggable)
        //  })
        //})

    </script>
      
  </body>
</html>
