<!DOCTYPE html>
<html>
  <head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js" type="text/javascript"></script>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
  <body>
    <nav>
      <div class="nav-wrapper">
        <div id="name" style="font-size:23px">Create New Assessment</div>
      </div>
    </nav>

    <div class="qcol rightcol">
      <p>Configurations</p>
      <form id="config">
        <div class='configs' style="overflow:scroll; height:600px;">
          <div class="form-group w-75">
            <label class='question_title'>Assessment name:</label>
            <input class="form-control" type="text" placeholder="Enter assessment name" name="title" size=36>
          </div>
          <div class="form-row">
            <div class="col-md-5 mb-3">
              <label class='question_title'>Type:</label>
              <select class="form-control" name="type">
                <option>Exam</option>
                <option>Homework</option>
              </select>
            </div>
            <div class="col-md-5 mb-3">
              <label class='question_title'>Credit:</label>
              <input class="form-control" type="text" placeholder="Enter integer" name="credit" size=4>
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-5 mb-3">
              <label class='question_title'>Number:</label>
              <input class="form-control" type="text" placeholder="Enter integer" name="number" size=4>
            </div>
            <div class="col-md-5 mb-3">
              <label class='question_title'>Set:</label>
              <input class="form-control" type="text" placeholder="Enter set name" name="set" size=4>
            </div>
          </div>
          <hr>
          <div class="access_forms">
            <div class="form-group w-50">
              <label class='question_title'>Allow access to:</label>
              <select class="form-control" name="role">
                <option>Student</option>
                <option>TA</option>
                <option>Instructor</option>
              </select>
            </div>
            <label class='question_title'>Start date:</label>
            <div class="form-row">
              <div class="col-md-5 mb-3">
                <input class="form-control" type="date" min="2021-01-01" max="2100-12-31" name="startDate">
              </div>
              <div class="col-md-5 mb-3">
                <input class="form-control" type="time" min="00:00" max="23:59" name="startTime">
              </div>
            </div>
            <label class='question_title'>End date:</label>
            <div class="form-row">
              <div class="col-md-5 mb-3">
                <input class="form-control" type="date" min="2021-03-02" max="2100-12-31" name="endDate">
              </div>
              <div class="col-md-5 mb-3">
                <input class="form-control" type="time" min="00:00" max="23:59" name="endTime">
              </div>
            </div>
            <hr>
          </div>
          <button class="btn btn-primary btn-lg" type="button" id="add_access">+</button>
          <button class="btn btn-primary btn-lg" type="button" id="delete_access">-</button>
          <script>
          $(document).ready(function(){
            // Spawns new access forms
            $('#add_access').click(function(){
              // Create clone of <div class='input-form'>
              var newel = $('.access_forms:last').clone(true);
              // Add after last <div class='input-form'>
              $(newel).insertAfter(".access_forms:last");
            });
            // Deletes previous access forms
            $('#delete_access').click(function() {
              var count = $('.access_forms').length;
              if (count > 1)  // change this to 1 if you want at least one to show
                $( ".access_forms:last" ).remove();
            });
          });
          </script>
        </div><br>
      </form>
    </div>

    <div class="qcol middlecol">
      <p class="test">Selected Questions</p>
      <div class="mcontainer">
      </div>
    </div>

    <div class="qcol leftcol">
      <p>Questions</p>
      <div class="qcontainer">
        <div class='question_title'><% @questions.each do |question| %>
          <tr>
            <p class="list-group-item draggable-question draggable-text" draggable="true">
              <td><%= question.title %></td>
              <span class="close" style="display:none">&times;</span>
              <input class="form-control col-md-2 mb-1" display="inline" type="text" name="assessment_credit" size=4>
            </p>
          </tr>
        <% end %></div>
      </div>
    </div>
    <div class="footer">
      <button class="btn btn-primary" type="button" id="save">Save</button>
      <button class="btn btn-primary" type="button" id="export">Export</button>
      <a id="downloadAnchorElem" style="display:none"></a>
      <script>

        function uuidCall() {
          return new Promise(function(resolve, reject) {
            $.ajax({
              url: "https://www.uuidgenerator.net/api/version4",
              type: "GET",
              success: function(data) {
                // UUID Received!
                resolve(data)
              },
              error: function(err) {
                reject(err)
              }
            });
          });
        }

        $(document).ready(function(){
          // trigger export
          $('#export').click(function(){
            jsonData = {}
            uuidCall().then(function(data) {
              jsonData['uuid'] = data
              dateData = {} // store the date information for jsonDate
              allowAccessData = {}
              var formData = $("#config").serializeArray();
              $.each(formData, function() {
                switch (this.name) {
                  case 'role':
                  case 'mode':
                    allowAccessData[this.name] = this.value
                    break;
                  case 'credit':
                    allowAccessData[this.name] = new Number(this.value)
                    break;
                  case 'startDate':
                  case 'endDate':
                  case 'startTime':
                  case 'endTime':
                    dateData[this.name] = this.value
                    break;
                  default:
                    jsonData[this.name] = this.value
                }
              });
              allowAccessData['startDate'] = dateData.startDate + 'T' + dateData.startTime
              allowAccessData['endDate'] = dateData.endDate + 'T' + dateData.endTime

              if (Object.keys(allowAccessData).length > 0){
                allowAccessData['mode'] = 'Public'
                if ('allowAccess' in jsonData){
                  jsonData.allowAccess.push(allowAccessData)
                } else {
                  jsonData.allowAccess = [allowAccessData]
                }
              }

              const midQuestions = document.getElementsByClassName("mcontainer")[0].querySelectorAll('.draggable-question')
              for (let i = 0; i < midQuestions.length; i ++) {
                if ('zones' in jsonData){
                  jsonData.zones.push({questions:[{id:midQuestions[i].innerText.slice(0, -2), points:new Number(midQuestions[i].getElementsByClassName("form-control")[0].value)}]})
                } else {
                  jsonData.zones = [{questions:[{id:midQuestions[i].innerText.slice(0, -2), points:new Number(midQuestions[i].getElementsByClassName("form-control")[0].value)}]}]
                }
              }
              var dataStr = "data:text/json;charset=utf-8," + encodeURIComponent(JSON.stringify(jsonData, null, '\t'));
              var dlAnchorElem = document.getElementById('downloadAnchorElem');
              dlAnchorElem.setAttribute("href",     dataStr     );
              dlAnchorElem.setAttribute("download", "infoAssessment.json");
              dlAnchorElem.click();
            }).catch(function(err){
              console.log(err)
            })
          });
        });
        </script>
    </div>

    <script>
    $(".draggable-question").css('text-align','left').draggable({
      helper: "clone",
      connectToSortable: ".mcontainer",
      revert: "invalid"
    });

    $(".mcontainer").droppable({
      accept: ".draggable-question",
      drop: function(event,ui){
        var item = $(ui.draggable);
        item.width($(this).width()-40);
        item.find("span").css('display','block');
        var close = item.find("span");
        close.click(function() {
          item.remove();
        });
      }
    }).sortable({
      revert: false
    });

    const draggables = document.querySelectorAll('.draggable-question')
    for (let i = 0; i < draggables.length; i ++) {
      const draggable = draggables[i];
      const pointbox = draggable.getElementsByClassName("form-control");
      pointbox[0].style.display = "inline";
      pointbox[0].style.float = "right";
      pointbox[0].style.marginTop = "-2%";
    }
    </script>
  </body>
</html>
