html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

nav {
  width: 100%;
  background: #62BFED;
  padding-top: 2%;
  padding-bottom: 2%;
}

#name {
  margin-left: 2%;
  color: white;
  font-family: 'Roboto', sans-serif;
}

.qcol {
  margin-top: 2%;
  float: right;
}

.leftcol {
  width: 30%;
  height: auto;
  position: absolute;
}

.leftcol p,.middlecol p, .rightcol p {
  text-align: center;
}

.middlecol {
  height: 700px;
  width: 40%;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  margin-left: 5px;
  margin-right: 5px;
}

.rightcol {
  width: 30%;
  height: 700px;

}

p {
  font-family: 'Roboto', sans-serif;
  font-size: 160%;
}

.question_title {
  font-family: 'Roboto', sans-serif;
}

input, select {
  padding: 8px 25px;
  margin: 8px 0;
}

.leftcoltxt {
  margin-left: 5%;
}

.qcontainer {
  margin: 2%;
  height: 500px;
}

.mcontainer {
  margin: 2%;
  height: 500px;
}

.draggable {
  margin-left: 3%;
  margin-right: 3%;
}

.draggable-text {
  font-size: medium;
}
