<!DOCTYPE html>
<html>
  <head>
  </head>

  <body>
    <p>PrairieLearn</p>
    <form>
        <label>Assessment name:</label><br>
        <input type="text"><br><br>

        <label>Type:</label><br>
        <select>
          <option>Exam</option>
          <option>Quiz</option>
          <option>Homework</option>
          <option>Vitamin</option>
          <option>Worksheet</option>
        </select><br><br>

        <label>Credit:</label><br>
        <input type="text" value="100"><br><br>

        <label>Allow access to:</label><br>
        <select>
        	<option>David Oh</option>
          <option>Faiz Shamji</option>
          <option>Timothy Vincent</option>
          <option>Haolin Zhu</option>
          <option>Sanwu Luo</option>
        </select><br>
        <label>Start date:</label><br>
        <input type="date" value="2021-02-23" min="2021-02-23" max="2021-12-31"><br>
        <label>End date:</label><br>
        <input type="date" value="2021-02-26" min="2021-02-23" max="2021-12-31"><br>
        <input type="button" value="+"><br><br>

        <input type="button" value="Submit"<br>
    </form>

  </body>
</html>
